@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

Image {
  width: auto;
  height: auto;
}

.main-widget {
  height: 95dvh;
}

::-webkit-scrollbar {
  display: none;
}

.projects-widget {
  max-width: 800px;
}

.fade-section {
  opacity: 0;
  transform: translate(0px, -20px);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 500ms ease-out;
  will-change: opacity, visibility;
}

.fade-delay {
  transition-delay: 200ms;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.rust-logo {
  filter: invert(100%);
}

.pattern-wave {
  background-size: auto;
  background-image: url("/portfolio/patterns/pattern-wave.svg");
}

.pattern-doodle {
  background-size: 100% 100%;
  background-image: url("/portfolio/patterns/pattern-doodle.svg");
}

.pattern-tri {
  background-image: url("/portfolio/patterns/pattern-tri.svg");
  background-repeat: repeat-x;
}

.pattern-zig {
  background-color: #3e5edf;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PScxMDAnIHZpZXdCb3g9JzAgMCA1IDEwJz4KCTxwYXRoIGQ9J00wLDBsNSw1bC01LDVtLTEsLTZsMSwxbC0xLDFNNCwtMWw2LDZsLTYsNicgZmlsbC1vcGFjaXR5PScwJyBzdHJva2U9JyMzNjU3ZGInIHN0cm9rZS13aWR0aD0nMicvPgo8L3N2Zz4=);
}

.hero-text {
  color:white;
  mix-blend-mode: difference;
}

.dot {
  mix-blend-mode: mix;
}

.to-expandable-green {
  --tw-gradient-to: #ddffaa;
}

.to-expandable-white {
  --tw-gradient-to: #ffffff;
}

.project-list {
  list-style: square;
  padding: 20px;
  margin-left: 20px;
}