@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1716;
}

* {
  scroll-behavior: smooth;
}

.main-widget {
  height: 95dvh;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  height: 70dvh;
}

.projects-widget {
  max-width: 800px;
}

.fade-section {
  opacity: 0;
  transform: translate(0, -20);
  visibility: hidden;
  transition: opacity 700ms ease-out, transform 700ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}