@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

* {
  scroll-behavior: smooth;
}

Image {
  width: auto;
  height: auto;
}

.main-widget {
  height: 95dvh;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  height: 70dvh;
}

.projects-widget {
  max-width: 800px;
}

.fade-section {
  opacity: 0;
  transform: translate(0px, -20px);
  visibility: hidden;
  transition: opacity 1000ms ease-out, transform 500ms ease-out;
  will-change: opacity, visibility;
}

.fade-delay {
  transition-delay: 200ms;
}

.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.rust-logo {
  filter: invert(100%);
}

.pattern-wave {
  background-size: auto;
  background-image: url("/portfolio/patterns/pattern-wave.svg");
}

.pattern-doodle {
  background-size: 100% 100%;
  background-image: url("/portfolio/patterns/pattern-doodle.svg");
}

.hero-text {
  color:white;
  mix-blend-mode: difference;
}

.dot {
  mix-blend-mode: mix;
}